<div id='notify_msg'> 

</div>

    <div class="container">


		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form name="ajaxform" id="msgsbm" method="POST" action="/msg_add" role="form">
						<div class="form-group">
							<h2>Create Safe messages</h2>
						</div>
						<div class="form-group">
							<label class="control-label" for="signupName">Text</label>

							<textarea id="signupName" rows="4" cols="10" class="form-control" name="text"></textarea>
						
						</div>
						
	
						<div class="form-group">
							<label class="control-label" for="Crypt Password">Password to encrypt your text</label>
							<input id="signupPassword" type="password" name="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40">
						</div>
						<div class="form-group">
  <label for="sel1">Destruction option:</label>
  <select class="form-control target" id="sel1">
  <option value="" disabled selected>Select your option</option>
  <option value="1">destroy message after the number of visit</option>
  <option value="2">destroy after number of hour</option>
</select>

</div>


<div id="select_result" class="form-group" style="display :none;">
							
							<input  type="text" name="deleteOption" maxlength="25" class="form-control deleteOption" length="3">
						</div>

						<div class="form-group">
							<button id="signupSubmit" type="submit" class="btn btn-info btn-block" disabled>Create messages</button>
						</div>
						
						
						
					</form>
					               <div class="alert alert-success" style='display: none'>
  <strong>Success!</strong> Hear your link.

               <input type="text" class="form-control" id="safe_link">
                <button class="btn" data-clipboard-action="copy" data-clipboard-target="#safe_link">Copy</button>
</div>
				</div>
			</div>
		</div>
	</div>



