<% @msg.each do |post| %>
  <h1><%= post.id %></h1>
<% end %>
 <a href="/delete_all">empty all</a>
    <div class="container">
		<div class="row">
			<div class="panel panel-primary">
				<div class="panel-body">
					<form name="ajaxform" id="msgsbm" method="POST" action="/msg_add" role="form">
						<div class="form-group">
							<h2>Create Safe messages</h2>
						</div>
						<div class="form-group">
							<label class="control-label" for="signupName">text</label>

							<textarea id="signupName" rows="4" cols="10" class="form-control" name="text">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
						
						</div>
						
	
						<div class="form-group">
							<label class="control-label" for="Crypt Password">Password</label>
							<input id="signupPassword" type="password" name="password" maxlength="25" class="form-control" placeholder="at least 6 characters" length="40">
						</div>
						<div class="form-group">
  <label for="sel1">Select list:</label>
  <select class="form-control" id="sel1">
  <option value="1">destroy message after the first link visit</option>
  <option value="2">destroy after 1 hour</option>
</select>

</div>
						<div class="form-group">
							<button id="signupSubmit" type="submit" class="btn btn-info btn-block">Create messages</button>
						</div>
						<p class="form-group">By creating an account, you agree to our <a href="#">Terms of Use</a> and our <a href="#">Privacy Policy</a>.</p>
						
						
					</form>
					               <div class="alert alert-success" style='display: none'>
  <strong>Success!</strong> Hear your link.

               <input type="text" class="form-control" id="safe_link">
                <button class="btn" data-clipboard-action="copy" data-clipboard-target="#safe_link">Copy</button>
</div>
				</div>
			</div>
		</div>
	</div>



