
	<!DOCTYPE html>
<html>
<head>
 <link href="basic.css" rel="stylesheet" type="text/css" />
  <link href="bootstrap.css" rel="stylesheet" type="text/css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="application.js"></script>
   <script src="aes.js"></script>

	<title></title>
</head>
<body>
<%= yield %>
</body>
</html>